.container {

  .content {
    h1 {
      margin: 0;
    }

    h2 {
      margin: 0;
    }

    #div0 {
      margin-top: 60px;
      overflow: hidden;

      #div1 {
        width: 30%;
        font-size: x-large;
        font-weight: bolder;
        margin-right: 10%;
        margin-left: 7%;
        float: left;
      }

      #div2 {
        width: 40%;
        overflow: hidden;
      }
    }

    #div3 {
      width: 40%;
      text-align: center;
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 100px;
    }
  }

  #div4 {
    background-color: #f5f5ff;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

    #div5 {
      margin-left: 5%;
      margin-right: 5%;
      width: 30%;
      float: left;
    }

    #div6 {
      overflow: hidden;
      width: 35%;
      margin-left: 45%;
      margin-right: 5%;
      color: #777777;
    }
  }
}
