@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

body {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;

  @for $i from 1 through 6 {
    h#{$i} {
      font-family: Rajdhani, sans-serif;
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
    color: #6059f6;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
  }

  h3 {
    color: #000000;
  }

  p1 {
    font-weight: 900;
  }

  p2 {
    font-size: 20px;
    font-weight: 900;
    color: #000000;
  }

  p3 {
    color: #6059F6;
  }

  .header {
    //text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-align-last: justify;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 50px;
      position: relative;
      overflow: hidden;
    }

    a {
      font-weight: 900;
      text-decoration: none;
      margin-right: 3%;

      &:link {
        color: #000033;
      }

      &:visited {
        color: inherit;
      }

      &:hover {
        color: #6059f6;
      }

      &.active {
        color: #6059f6;
      }
    }
  }

  .content {
    margin-left: 10%;
    margin-right: 10%;

    p {
      color: #777777;
    }

    .row {
      display: flex;

      .col-8 {
        width: 33%;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
      }

      .col-12 {
        width: 50%;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
      }
    }
  }

  .footer {
    background-color: #04091e;
    color: #878787;
    height: 150px;
    //width: 100%;

    .row {
      margin-top: 10px;
      display: flex;

      .col-12-left {
        width: 50%;
        text-align: left;
        margin-left: 10%;
        float: left;
      }

      .col-12-right {
        width: 50%;
        text-align: right;
        margin-right: 10%;
        float: left;
      }
    }

    .line {
      margin-top: 70px;
      border: 0;
      background-color: #333333;
      height: 1px;
      cursor: pointer;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .anchor {
    color: #6059f6;
  }
}
