@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;
}
.container h1 {
  font-family: Rajdhani, sans-serif;
}
.container h2 {
  font-family: Rajdhani, sans-serif;
}
.container h3 {
  font-family: Rajdhani, sans-serif;
}
.container h4 {
  font-family: Rajdhani, sans-serif;
}
.container h5 {
  font-family: Rajdhani, sans-serif;
}
.container h6 {
  font-family: Rajdhani, sans-serif;
}
.container h1 {
  font-size: 50px;
  font-weight: 700;
  color: #6059f6;
}
.container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.container h3 {
  font-size: 20px;
  color: #000000;
}
.container p1 {
  font-weight: 900;
}
.container p2 {
  font-size: 20px;
  font-weight: 900;
  color: #000000;
}
.container p3 {
  color: #6059F6;
}
.container .nav {
  background-color: #2f3742;
}
.container .nav .header {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  text-align-last: justify;
}
.container .nav .header img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  position: relative;
  overflow: hidden;
}
.container .nav .header a {
  font-weight: 900;
  text-decoration: none;
  margin-right: 3%;
}
.container .nav .header a:link {
  color: #000033;
}
.container .nav .header a:visited {
  color: inherit;
}
.container .nav .header a:hover {
  color: #6059f6;
}
.container .nav .header a.active {
  color: #6059f6;
}
.container .content, .container #wrapper {
  margin-left: 10%;
  margin-right: 10%;
  color: #777777;
}
.container .content .row, .container #wrapper .row {
  margin-top: 40px;
  display: flex;
}
.container .content .row .col-8, .container #wrapper .row .col-8 {
  text-align: center;
  width: 33%;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  background-color: #f5f5ff;
  padding-left: 2%;
  padding-right: 2%;
}
.container .content .row .col-12-left, .container #wrapper .row .col-12-left {
  width: 50%;
  float: left;
  margin-right: 30px;
}
.container .content .row .col-12-right, .container #wrapper .row .col-12-right {
  width: 50%;
  float: left;
  margin-left: 30px;
}
.container .content .row .white, .container #wrapper .row .white {
  background-color: white;
}
.container .content .row .vertical-menu, .container #wrapper .row .vertical-menu {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 200px;
}
.container .content .row .vertical-menu a, .container #wrapper .row .vertical-menu a {
  background-color: #eee;
  /* Grey background color */
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  padding: 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove underline from links */
}
.container .content .row .vertical-menu a:hover, .container #wrapper .row .vertical-menu a:hover {
  background-color: #ccc;
  /* Dark grey background on mouse-over */
}
.container .content .row .vertical-menu a.active, .container #wrapper .row .vertical-menu a.active {
  background-color: #6059f6;
  /* Add a green color to the "active/current" link */
  color: white;
}
.container .content .row #table-wrapper, .container #wrapper .row #table-wrapper {
  margin-left: 10%;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;
}
.container .content .row #table-wrapper table, .container #wrapper .row #table-wrapper table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.container .content .row #table-wrapper table td, .container .content .row #table-wrapper table tr, .container #wrapper .row #table-wrapper table td, .container #wrapper .row #table-wrapper table tr {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}
.container .content .row #table-wrapper table tr:hover, .container #wrapper .row #table-wrapper table tr:hover {
  background-color: #f5f5f5;
}
.container .content .row #table-wrapper table th, .container #wrapper .row #table-wrapper table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  text-align: left;
  background-color: #f5f5f5;
  color: black;
}
.container .content .row #table-wrapper .pagination, .container #wrapper .row #table-wrapper .pagination {
  margin-top: 30px;
  display: inline-block;
}
.container .content .row #table-wrapper .pagination a, .container #wrapper .row #table-wrapper .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.container .content .row #table-wrapper .pagination a.active, .container #wrapper .row #table-wrapper .pagination a.active {
  background-color: #6059f6;
  color: white;
}
.container .content .row #table-wrapper .pagination a:hover:not(.active), .container #wrapper .row #table-wrapper .pagination a:hover:not(.active) {
  background-color: #ddd;
}
.container .footer {
  height: 150px;
  background-color: #04091e;
  color: #878787;
}
.container .footer .row {
  display: flex;
}
.container .footer .row .col-12-left {
  font-size: 0.7rem;
  font-style: italic;
  width: 50%;
  text-align: left;
  margin-left: 10%;
  float: left;
}
.container .footer .row .col-12-right {
  width: 50%;
  text-align: right;
  margin-right: 10%;
  float: left;
}
.container .footer .row .col-12-right img {
  max-width: 15px;
  max-height: 15px;
  margin-left: 40px;
}
.container .footer .line {
  margin-top: 90px;
  margin-bottom: 10px;
  border: 0;
  background-color: #333333;
  height: 1px;
  cursor: pointer;
  margin-left: 10%;
  margin-right: 10%;
}
.container .anchor {
  color: #6059f6;
}
.container .form-popup {
  display: none;
  position: fixed;
  top: 5%;
  bottom: 5%;
  left: 20%;
  right: 20%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 60%;
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
}
.container .form-popup p {
  color: #777777;
}
.container .form-popup .closeButton {
  position: fixed;
  right: 21%;
}
.container #loginForm {
  text-align: center;
}
.container #loginForm input {
  padding: 12px 20px;
  margin: 8px 8px;
  border: 1px solid #bcb4ff;
  border-radius: 4px;
  width: 300px;
}
.container #loginForm button, .container #loginForm a {
  margin-top: 30px;
  background-color: #6059f6;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.container #signupForm input {
  padding: 12px 20px;
  margin: 8px 12px;
  border: 1px solid #bcb4ff;
  border-radius: 4px;
  width: 50%;
}
.container #signupForm button, .container #signupForm a {
  margin-top: 30px;
  margin-left: 8px;
  background-color: #6059f6;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.container #signupForm #direction {
  width: 100%;
}
.container .oneElementCenter {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 40px;
}
.container .contentBackground {
  background-color: #f5f5ff;
  overflow: hidden;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container #leerMars button {
  margin-top: 30px;
  margin-left: 30px;
  background-color: #6059f6;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*# sourceMappingURL=mijares.css.map */
