// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {

    font-family: Roboto, sans-serif;
    font-size: 15px;

    @for $i from 1 through 6 {
        h#{$i} {
            font-family: Rajdhani, sans-serif;
        }
    }

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: #6059f6;
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 1%;
        margin-bottom: 1%;
        color: #000000;
    }

    h3 {
        font-size: 20px;
        font-weight: 900;
        color: #000000;
    }

    p1 {
        font-weight: 900;
    }

    p2 {
        font-size: 20px;
        font-weight: 900;
        color: #000000;
    }

    p3 {
        color: $mijares;
    }

    #navbar {
        padding-left: 10%;
        padding-right: 10%;
        background-color: #2f3742;

        a {
            font-weight: 700;
            text-decoration: none;

            &:link {
                color: #000033;
            }

            &:visited {
                color: #000033;
            }

            &:hover {
                color: $mijares;
            }

            &.active {
                color: $mijares;
            }
        }
    }

    .container-mijares {
        margin-top: 1%;
        font-family: Roboto, sans-serif;
        font-size: 15px;
        font-weight: 400;
    }

    .home-content {
        margin-left: 5%;
        margin-right: 3%;
        margin-bottom: 10%;

        .table-wrapper {
            width: 700px;
            margin: 30px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }

        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;

            h2 {
                margin: 6px 0 0;
                font-size: 22px;
            }

            .add-new {
                float: right;
                height: 30px;
                font-weight: bold;
                font-size: 12px;
                text-shadow: none;
                min-width: 100px;
                border-radius: 50px;
                line-height: 13px;

                i {
                    margin-right: 4px;
                }
            }
        }

        table.table {
            table-layout: fixed;

            .form-control {
                height: 32px;
                line-height: 32px;
                box-shadow: none;
                border-radius: 2px;

                .error {
                    border-color: #f50000;
                }
            }

            tr th, table.table tr td {
                border-color: #e9e9e9;
            }

            th i {
                font-size: 13px;
                margin: 0 5px;
                cursor: pointer;
            }

            td i {
                font-size: 19px;
            }

            th:last-child {
                width: 100px;
            }

            td a {
                cursor: pointer;
                display: inline-block;
                margin: 0 5px;
                min-width: 24px;

                &.add {
                    color: #27C46B;

                    i {
                        font-size: 24px;
                        margin-right: -1px;
                        position: relative;
                        top: 3px;
                    }
                }

                &.edit {
                    color: #FFC107;
                }

                &.delete {
                    color: #E34724;
                }
            }

            td .add {
                display: none;
            }
        }
    }

    .content, #wrapper {
        margin-left: 10%;
        margin-right: 10%;
        color: #777777;
    }

    table {
        table-layout: fixed;
        white-space: nowrap;

        tr, td {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    button.add-new {
        float: left;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        border-radius: 50px;
        line-height: 10px;
        margin-top: 15px;

        i {
            margin-right: 4px;
        }
    }

    #footer {
        height: 150px;
        background-color: #04091e;
        color: #878787;
        font-style: italic;

        .anchor {
            color: $mijares;
        }

        p3 {
            color: $mijares;
        }
    }

    .line {
        margin-top: 90px;
        margin-bottom: 10px;
        border: 0;
        background-color: white;
        height: 1px;
        cursor: pointer;
        margin-left: 10%;
        margin-right: 10%;
    }

    .oneElementCenter {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .contentBackground {
        background-color: #f5f5ff;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .leerMars {
        text-align: center;

        button {
            margin-top: 3%;
            margin-left: 5%;
            background-color: $mijares;
            border: none;
            border-radius: 25px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    }
}
