@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);body {
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

body h1 {
  font-family: Rajdhani, sans-serif;
}

body h2 {
  font-family: Rajdhani, sans-serif;
}

body h3 {
  font-family: Rajdhani, sans-serif;
}

body h4 {
  font-family: Rajdhani, sans-serif;
}

body h5 {
  font-family: Rajdhani, sans-serif;
}

body h6 {
  font-family: Rajdhani, sans-serif;
}

body h1 {
  font-size: 50px;
  font-weight: 700;
  color: #6059f6;
}

body h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #000000;
}

body h3 {
  font-size: 20px;
  font-weight: 900;
  color: #000000;
}

body p1 {
  font-weight: 900;
}

body p2 {
  font-size: 20px;
  font-weight: 900;
  color: #000000;
}

body p3 {
  color: #6059f6;
}

body #navbar {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #2f3742;
}

body #navbar a {
  font-weight: 700;
  text-decoration: none;
}

body #navbar a:link {
  color: #000033;
}

body #navbar a:visited {
  color: #000033;
}

body #navbar a:hover {
  color: #6059f6;
}

body #navbar a.active {
  color: #6059f6;
}

body .container-mijares {
  margin-top: 1%;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body .home-content {
  margin-left: 5%;
  margin-right: 3%;
  margin-bottom: 10%;
}

body .home-content .table-wrapper {
  width: 700px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

body .home-content .table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}

body .home-content .table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}

body .home-content .table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}

body .home-content .table-title .add-new i {
  margin-right: 4px;
}

body .home-content table.table {
  table-layout: fixed;
}

body .home-content table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}

body .home-content table.table .form-control .error {
  border-color: #f50000;
}

body .home-content table.table tr th,
body .home-content table.table table.table tr td {
  border-color: #e9e9e9;
}

body .home-content table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

body .home-content table.table td i {
  font-size: 19px;
}

body .home-content table.table th:last-child {
  width: 100px;
}

body .home-content table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}

body .home-content table.table td a.add {
  color: #27C46B;
}

body .home-content table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}

body .home-content table.table td a.edit {
  color: #FFC107;
}

body .home-content table.table td a.delete {
  color: #E34724;
}

body .home-content table.table td .add {
  display: none;
}

body .content,
body #wrapper {
  margin-left: 10%;
  margin-right: 10%;
  color: #777777;
}

body table {
  table-layout: fixed;
  white-space: nowrap;
}

body table tr,
body table td {
  text-overflow: ellipsis;
  overflow: hidden;
}

body button.add-new {
  float: left;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 10px;
  margin-top: 15px;
}

body button.add-new i {
  margin-right: 4px;
}

body #footer {
  height: 150px;
  background-color: #04091e;
  color: #878787;
  font-style: italic;
}

body #footer .anchor {
  color: #6059f6;
}

body #footer p3 {
  color: #6059f6;
}

body .line {
  margin-top: 90px;
  margin-bottom: 10px;
  border: 0;
  background-color: white;
  height: 1px;
  cursor: pointer;
  margin-left: 10%;
  margin-right: 10%;
}

body .oneElementCenter {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
}

body .contentBackground {
  background-color: #f5f5ff;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

body .leerMars {
  text-align: center;
}

body .leerMars button {
  margin-top: 3%;
  margin-left: 5%;
  background-color: #6059f6;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

