.container .content .row {
    align-items: center;
}

.container .content #div0 {
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.container .content #div0-1 {
    width: 45%;
    margin-right: 10%;
    float: left;
    color: #777777;
}

.container .content #div0-2 {
    width:42%;
    overflow: hidden;
    text-align: right;
}
